<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

     <body>

       <header class="site-header">

         <!-- Top navbar & branding -->
         <nav class="navbar navbar-default">
           <div class="container">

             <!-- Toggle buttons and brand -->
             <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                 <span class="glyphicon glyphicon-option-vertical"></span>
               </button>

               <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>

               <a class="navbar-brand" href="index.html"> <img src="assets/images/minlogo.svg" alt="logo" alt="logo"> Minio Docs </a>
             </div>
             <!-- END Toggle buttons and brand -->

             <!-- Top navbar -->
             <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
               <ul class="nav navbar-nav navbar-right">
                 <li class="active">  
   				  	<div class="home-link text-right" style="margin-top:10px;">
          		   				<a href="http://minio.io"><i class="fa fa-home fa-2x" style= "color:white;"></i> </a>
      				</div>
   			 	 </li>
              
               </ul>
             </div>
             <!-- END Top navbar -->

           </div>
         </nav>
         <!-- END Top navbar & branding -->
      
       </header>


       <main class="container">
         <div class="row">

           <!-- Sidebar -->
           <aside class="col-md-3 col-sm-3 sidebar">

             <ul class="sidenav dropable sticky">
            
               <li>
                 <a class="active" href="index.html"> Minio SDK </a>
                 <ul>
                   <li><a class="" href="minio-nodejs.html">Node.js</a></li>
                   <li><a href="minio-ruby.html">Ruby on Rails </a></li>
                   <li><a href="minio-java.html"> Java </a></li>
                   <li><a href="minio-python.html"> Python </a></li>
                   <li><a href="minio-net.html">.NET </a></li>
                   <li><a href="minio-golang.html">Golang</a></li>
                 </ul>
               </li>

               <li>
                 <a href="minio-server.html"> Minio Server </a>
              
               </li>

               <li>
                 <a href="minio-client.html"> Minio Client </a>
               
               </li>

             

             </ul>

           </aside>
           <!-- END Sidebar -->
           <article class="col-md-9 col-sm-9 main-content" role="main">
          
             
 				 
				 <section>
		   	  		 {{ content }}
						  
				</section>
	 
          
           </article>
           <!-- END Main content -->
		   
		   
		</div>
 	   
       </main>


       <!-- Footer -->
       <footer class="site-footer">
         <div class="container">
           <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

           <div class="row">
             <div class="col-md-6 col-sm-6">
               <p>Copyright Minio &copy; 2015. All right reserved</p>
             </div>
             <div class="col-md-6 col-sm-6">
               <ul class="footer-menu">
                 <li><a href="index.html">Home</a></li>
                 <li><a href="minio_about.html">About</a></li>
                 <li><a href="mailto:hello@minio.io">Contact us</a></li>
               </ul>
             </div>
           </div>
         </div>
       </footer>
       <!-- END Footer -->

       <!-- Scripts -->
       <script src="assets/js/theDocs.all.min.js"></script>
       <script src="assets/js/custom.js"></script>
	   <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
	   <script>hljs.initHighlightingOnLoad();</script>
     </body>
   </html>
   