<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	{% include head.html %}
	<link rel="stylesheet" href="vendors/prism/prism.css">

	<script src="vendors/prism/prism.js"></script>
	<script src="vendors/prism/prism-toolbar.js"></script>
	<script src="vendors/prism/ZeroClipboard.min.js"></script>

	<body>
		<header class="home-link text-right">
			<a href="/"><i class="fa fa-home fa-2x"></i> </a>

			<ul class="list-unstyled list-inline btn-action">
				<li class="dropdown">
					<a href="" data-toggle="dropdown" class="ba-split dmd-ms-current">Documentation</a>

					<ul class="dropdown-menu dropdown-menu-right">
						{% for item in site.docLinks %}
							<li class="{% if page.permalink == item.url %}active{% endif %}"><a href={{ item.url }}>{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</header>

		<section class="text-center">
			<div class="container">
				<header>
					<h2 class="s-title st-white">{{ page.title }}</h2>

					{% if page.permalink != "minio-sdk" %}
						<ul class="d-tabs list-inline list-unstyled">
							{% for item in site.innerLinks %}
								<li class="{% if page.page == item.title %}active{% endif %}">
									<a href="minio-{{ page.sub }}{{ item.urlPrefix }}.html">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</header>

				<div class="post">
					{{ content }}
				</div>
			</div>
		</section>
	</body>
</html>



